@inject NavigationManager NavigationManager
@using System.Globalization

<EditForm Model="@this">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <select id="culture" class="form-select" @bind="Culture">
            <option value="en">English</option>
            <option value="fr">Français</option>
        </select>
    </div>
</EditForm>

@code {
    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);
                NavigationManager.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
            }
        }
    }
}